@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Generics */

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background-color: rgb(255, 255, 255);
}

.container {
    margin: 0 20px;
}

.top-header {
    height: 170px;
    display: flex;
    flex-direction: column;
}

.top-header h1{
    font-family: 'Bruno Ace SC', cursive;
    display: inline-block;
}

.top-nav .ul-menu-bar{
    display: flex;
    list-style: none;
    overflow-y: hidden;
}

.top-nav .ul-menu-bar::-webkit-scrollbar{
    width: 0;
}

.top-nav .ul-menu-bar .menu-bar {
    margin-right: 30px;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(248, 248, 248);
}

.menu-bar {
    cursor: pointer;
}

.carrinho {
    border: none;
    position: absolute;
    background-color: transparent;
    font-size: 2rem;
    top: 40px;
    right: 20px;
    cursor: pointer;
}

.carrinho-compra {
    display: none;
    position: absolute;
    top: 77px;
    left: 50%;
    transform: translateX(-50%);
    width: 370px;
    height: 500px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgb(131, 131, 131);
}

.carrinho-compra h3 {
    margin: 10px 0 0;
    text-align: center;
}

.hide {
    display: block;
}

.carrinho-compra .ul-carrinho-compra {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.carrinho-compra .ul-carrinho-compra li{
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 10px;    
    height: 100px;
    padding: 0 10px;
}
.carrinho-compra .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 100%;
}

.carrinho-compra .img {
    width: 100px;
    height: 100%;
    border-radius: 10px;
}

.carrinho-compra .img img {
    min-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.carrinho-compra .qtd {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
}

.carrinho-compra #qtd-carrinho {
    font-size: 1.3rem;
}
    .carrinho-compra .btn-qtd-carrinho {
    background-color: transparent;
    width: 30px;
    height: 40px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.product a{
    height: 130px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.product-img {
    width: 30%;
}

.product-img img {
    border-radius: 10px;
    height: 100%;
    transition: .3s;
}

.product-info {
    display: flex;
    width: 70%;
    margin: 10px 0 10px 10%;
    flex-direction: column;
    justify-content: space-between;
}

.product-info span {
    font-weight: bolder;
}